 @{
  Layout = "_Layout";
}

<div class="container stylists">
 <form class="form-group" action='/stylists/@Model/clients/new' method='post'>
        <label>Client's Name: 
            <input type="text" name="newClient" class="form-control" required>
        </label><br>
        <label>Client's Phone: 
            <input type="number" name="newPhone" class="form-control" required>
        </label><br>
      <button class='btn' type ="submit">Add Client</button>
  </form>
</div>
<div>
    <form class="form-group" action='/stylists/@Model' method='get'>
    <button class='btn btn-success'>Previous Page</button>
</form> &nbsp;&nbsp;
<div>
    <form class="form-group" action='/stylists' method='get'>
    <button class='btn btn-success'>All Stylists</button>
</form>
</div>
