@{ Layout = "_Layout"; }
<div class="nav">
  <form action='/' method='get'>
    <button class='btn'>Back to Home</button>
  </form>
</div>

<div class="container stylists">
  <div class="row">
    <div class="col">
      <form class="form-group" action='/Stylists' method='post'>
        <label>Add Stylist:
          <input type="text" name="newStylist" class="form-control" required>
        </label>
        <br>
        <div>
          <button class='btn'>Add Stylist</button>
        </div>
      </form>
      
    </div>
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Stylist</th>
            <th scope="col">Details</th>
             <th scope="col">Remove Stylist</th>
          </tr>
        </thead>
        @foreach (var stylist in @Model) {
        <tbody>
          <tr>
            <td>@stylist.Name</td>
            <td>
              <form action='/stylists/@stylist.Id' method='get'>
                <button class='btn btn-success'>View Details</button>
              </form>
              <br>
            </td>
            <td>
              <form action='/stylists/delete/@stylist.Id' method='post'>
                <button class='btn btn-success'>Remove Stylist</button>
              </form>
              <br>
            </td>
          </tr>
        </tbody>
        }
      </table>
    </div>



  </div>