 @{
  Layout = "_Layout";
}

<div class="container stylists">
    <form class="form-group" action='/specialties/new' method='post'>
            <label>Specialty: 
                <input type="text" name="newSpecialty" class="form-control" required>
            </label><br>
        <button class='btn' type ="submit">Add Specialty</button>
    </form>
</div>
<div>
    <form class="form-group" action='/specialties' method='get'>
        <button class='btn btn-success'>All Specialties</button>
        </div>
    </form>
    
</div>
