@{
  Layout = "_Layout";
}

<div class="container">
  
    
    <div class="homepage">
      <h1>Ultimate Hair Salon</h1>
    <form action='/stylists' method='get'>
        <button class='btn mx-3'><strong>View Stylists</strong></button>
    </form>
  </div>
  <div class="homepage">
    <button onclick="window.location.href='/clients'" class="btn mx-3"><strong>View Clients</strong></button>
    <button onclick="window.location.href='/specialties'" class="btn"><strong>View Specialties</strong></button>
  </div>
 
</div>