@{
  Layout = "_Layout";
}
<div class="jumbotron">
        <h1>Ultimate Hair Salon</h1>
    </div>
<div class="container">
  <h1>Go to Pages</h1>
  <form action='/stylists' method='get'>
      <button class='btn btn-primary'>Stylists</button>
  </form><br>
</div>