@{
  Layout = "_Layout";
}

<div class="container">
  <div class="homepage">
    <form action='/stylists' method='get'>
        <h1>Ultimate Hair Salon</h1><br>
        <button class='btn'><strong>View Stylists</strong></button>
         
    </form>
  </div>
  <button onclick="window.location.href='/clients'" class="btn"><strong>View Clients</strong></button>
  <button onclick="window.location.href='/specialties'" class="btn"><strong>View Specialties</strong></button>
</div>